<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/xml+xhtml; charset=UTF-8">
        <title>Articles - Python第一次 - 非常牛B非常娴熟的职业挨踢民工</title>
        <link rel="stylesheet" type="text/css" href="/media/css/main.css"/>
    </head>
    <body>
    	<div id="wrapper">
    		<div id="header" class="clr">
    			<div id="logo">
    				<div class="text_title"><img src="/media/images/title.png" /></div>
    				<div class="text_subtitle"><span>DotPY.org</span> ——非常牛B非常娴熟的职业挨踢民工</div>
    			</div>
    			<ul id="nav" class="clr">
    				<li><a href="#">Home</a></li>
    				<li><a href="#">Cheat Sheets</a></li>
    				<li><a href="#">Videos</a></li>
    				<li><a href="#">Snippets</a></li>
    				<li><a href="#">Q&A</a></li>
    			</ul>
    		</div>
    		<div id="main" class="clr">
    			<div id="content">
    				<div class="box">
    					<h1>Articles</h1>
    					<ul class="link_list clr">
    						<li><a href="#">This is an article!</a></li>
    						<li><a href="#">This is an article!</a></li>
    						<li><a href="#">This is an article!</a></li>
    						<li><a href="#">This is an article!</a></li>
    						<li><a href="#">This is an article!</a></li>
    					</ul>
    				</div>
    				<div class="box pagination">
    					<a href="#">上一页</a>
    					<a href="#">1</a>
    					<strong>2</strong>
    					<a href="#">3</a>
    					<a href="#">4</a>
    					...
    					<a href="#">下一页</a>
    				</div>
    			</div>
    			<div id="aside">
    				<div class="aside_box">
    					<h2>Latest Videos</h2>
    					<ul class="block_list clr">
    						<li>
    							<a href="#video" class="block_main"><img src="example.png" /></a>
    							<a href="#video">This is a video!</a>
    						</li>
    						<li>
    							<a href="#video" class="block_main"><img src="example.png" /></a>
    							<a href="#video">This is a video!</a>
    						</li>
    					</ul>
    				</div>
    			</div>
    		</div>
    		<div id="footer">
    			@ 2010 All rights reservd.
    		</div>
    	</div>
    </body>
</html>
    
