{% extends 'core/html.html' %}
{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="/media/css/all.css"/>
	{% include 'core/_jquery.html' %}
{% endblock %}
{% block html_body %}
<div id="container"> 
	<div id="topnav"> 
		<h1 id="title">dotPy - Just Python</h1> 
		<div id="nav-main">
			<ul>
				<li><a href="/" title="Home Page">首页</a></li>
				<li><a href="{% url lessons-home %}" title="Get Started!">快速入门</a></li>
				<li><a href="/snippets" title="Code Snippets">代码片段</a></li>
				<li><a href="/cheat-sheets" title="Cheat Sheets">程序样板</a></li>
				<li><a href="/community" title="Community Activities">社区活动</a></li>
			</ul>
			<div class="quickref">
				{% if user.is_authenticated %}
				<a href="{% url user-account %}">{{ user.first_name|default:user.username }}</a>，欢迎你！ &nbsp;&nbsp; <a id="signout" href="{% url user-signout %}">登出</a>
				{% else %}
				<span id="signin_links">
					<a id="signin" href="{% url user-signin %}">登录</a> &nbsp; <a id="signup" href="{% url user-signup %}">注册</a>
				</span>
				{% endif %}
			</div> 
		</div> 
		<a id="logo-box" href="/"></a> 
	</div> 
	<div id="content">
		{% if messages %}
		<div id="messages_div">
		<ul class="messages">
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
	</div>
		{% endif %}
		{% block content %}{% endblock %}
	</div>
	<div id="site-info"> 
		<p>除非特别指明，这些内容使用此许可证：<a rel="license" href="http://creativecommons.org/licenses/by/2.5/cn/">署名 2.5 中国大陆</a></p> 
	</div>
</div>
{% endblock %}
