{% extends 'wide.html' %}
{% block title %}{{ lesson.subject }} - {{ block.super }}{% endblock %}
{% block extra_head %}{% include '_prettify.html' %}{% endblock %}
{% block content %}
<h1 id="lesson-subject">{{ lesson.subject }}</h1>
<!-- Lesson Content -->
{% include markdown_template %}
<div class="comment-link">
<a href="/learn/{{ lesson.slug }}/comment/#disqus_thread">评论...</a>
</div>
<script type="text/javascript">
    var disqus_shortname = 'dotpy';
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  </script>
{% endblock %}
