{% extends '_html.html' %}
{% block css %}<link rel="stylesheet" type="text/css" href="/media/css/all.css"/>{% endblock %}
{% block html_body %}
<div id="container"> 
  <div id="topnav"> 
    <h1 id="title">dotPy - Just Python</h1> 
    <div id="nav-main">
      <ul>
		<li><a href="/" title="Home Page">首页</a></li>
		<li><a href="/learn" title="Get Started!">快速入门</a></li>
		<li><a href="/snippets" title="Code Snippets">代码片段</a></li>
		<li><a href="/cheat-sheets" title="Cheat Sheets">程序样板</a></li>
		<li><a href="/community" title="Community Activities">社区活动</a></li>
	  </ul>
	  <!-- TODO
      <div class="quickref"> 
        <form method="GET" action="/search"> 
        References:
        <a href="/pkg/">Packages</a> 
        <a href="/cmd/">Commands</a> 
        <a href="/doc/go_spec.html">Specification</a> 
        <input id="search" type="text" name="q" value="code search" class="inactive" /> 
        </form> 
      </div> 
       -->
    </div> 
    <a id="logo-box" href="/"></a> 
  </div> 
  <div id="content">
    {% block content %}{% endblock %}
  </div>
  <div id="site-info"> 
    <p>除非特别指明，这些内容属于<a rel="license" href="http://zh.wikipedia.org/zh/%E5%85%AC%E6%9C%89%E9%A2%86%E5%9F%9F">公有领域</a></p> 
  </div>
</div>
{% endblock %}