{% extends 'html.html' %}
{% block css %}<link rel="stylesheet" type="text/css" href="/media/css/all.css"/>{% endblock %}
{% block html_body %}
<div id="container"> 
  <div id="topnav"> 
    <h1 id="title">dotPy - Just Python</h1> 
    <div id="nav-main">
      <ul>
		<li><a href="/" title="Home Page">首页</a></li>
		<li><a href="/learn" title="Get Started!">快速入门</a></li>
		<li><a href="/snippets" title="Code Snippets">代码片段</a></li>
		<li><a href="/cheat-sheets" title="Cheat Sheets">程序样板</a></li>
		<li><a href="/community" title="Community Activities">社区活动</a></li>
	  </ul>
      <div class="quickref"> 
        <form method="GET" action="/search"> 
        {% if dotpy_user %}
	        {{ dotpy_user.name }}，欢迎你！ &nbsp;&nbsp; <a href="{% url views.logout %}">登出</a>
	      {% else %}
	        <a class="rpxnow" onclick="return false;" href="https://dotpy.rpxnow.com/openid/v2/signin?token_url=http%3A%2F%2Fdotpy.org%2Frpx">登录</a>
	      {% endif %}
        </form> 
      </div> 
    </div> 
    <a id="logo-box" href="/"></a> 
  </div> 
  <div id="content">
    {% block content %}{% endblock %}
  </div>
  <div id="site-info"> 
    <p>除非特别指明，这些内容使用此许可证：<a rel="license" href="http://creativecommons.org/licenses/by/2.5/cn/">署名 2.5 中国大陆</a></p> 
  </div>
</div>
{% if not dotpy_user %}
<script type="text/javascript">
  var rpxJsHost = (("https:" == document.location.protocol) ? "https://" : "http://static.");
  document.write(unescape("%3Cscript src='" + rpxJsHost +
"rpxnow.com/js/lib/rpx.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  RPXNOW.overlay = true;
  RPXNOW.language_preference = 'en';
</script>
{% endif %}
{% endblock %}