{% extends '_base.html' %}
{% block title %}快速入门 - dotPy{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="/media/css/main.css"/>{% endblock %}
{% block body %}
    	<div id="wrapper">
    		<div id="header" class="clr">
    			<div id="logo">
    				<div class="text_title"><img src="/media/images/title.png" /></div>
    				<div class="text_subtitle"><span>DotPY.org</span> --- Just Python</div>
    			</div>
    			<ul id="nav" class="clr">
    				<li><a href="#">Home</a></li>
    				<li><a href="#">Cheat Sheets</a></li>
    				<li><a href="#">Videos</a></li>
    				<li><a href="#">Snippets</a></li>
    				<li><a href="#">Q&amp;A</a></li>
    			</ul>
    		</div>
    		<div id="main" class="clr">
    		{% block main %}{% endblock %}
    		</div>
    		<div id="footer">
    			@ 2010 All rights reservd.
    		</div>
    	</div>
{% endblock %}
