{% extends '_base.html' %}
{% block title %}评论 - {{ lesson.subject }} - {{ block.super }}{% endblock %}
{% block content %}
  <h1><a href="{% url lessons.views.show lesson.slug %}">{{ lesson.subject }}</a> - 评论</h1>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_shortname = 'dotpy';
    (function() {
     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
     dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>请开启 JavaScript 以便查看 <a href="http://disqus.com/?ref_noscript=dotpy">评论</a>。</noscript>
{% endblock %}
