{% extends 'base.htm' %}
{% block main %}
<div id="content">
    <div class="box notice">
        Learning Python series...
    </div>
    <div class="box">
        <h2>Latest Cheat Sheets</h2>
        <ul class="link_list">
            <li>
                <a href="#">This is an article!</a>
            </li>
            <li>
                <a href="#">This is an article!</a>
            </li>
            <li>
                <a href="#">This is an article!</a>
            </li>
            <li>
                <a href="#">This is an article!</a>
            </li>
        </ul>
    </div>
    <div class="box">
        <h2>Latest Questions &mp; Answers</h2>
        <ul class="link_list">
            <li>
                <a href="#">This is an article!</a>
            </li>
            <li>
                <a href="#">This is an article!This is an article!This is an article!This is an article!This is an article!This is an article!</a>
            </li>
            <li>
                <a href="#">This is an article!</a>
            </li>
            <li>
                <a href="#">This is an article!</a>
            </li>
            <li>
                <a href="#">This is an article!</a>
            </li>
        </ul>
    </div>
    <div class="box">
        <h2>Latest Snippets</h2>
        <ul class="link_list">
            <li>
                <a href="#">This is an article!</a>
            </li>
            <li>
                <a href="#">This is an article!</a>
            </li>
            <li>
                <a href="#">This is an article!</a>
            </li>
            <li>
                <a href="#">This is an article!</a>
            </li>
            <li>
                <a href="#">This is an article!</a>
            </li>
        </ul>
    </div>
</div>
<div id="aside">
    <div class="aside_box">
        <h2>Latest Videos</h2>
        <ul class="block_list">
            <li>
                <a href="#video" class="block_main">
                <img src="/media/images/example.png" /></a>
                <a href="#video">This is a video!</a>
            </li>
            <li>
                <a href="#video" class="block_main">
                <img src="/media/images/example.png" /></a>
                <a href="#video">This is a video!</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
